<div class="flex md:flex-row flex-col gap-4 justify-center">
  <a
    routerLink="/"
    routerLinkActive="bg-green-300"
    [routerLinkActiveOptions]="{exact: true}"
    class="border cursor-pointer px-3 py-2 bg-indigo-500 text-white text-xl uppercase font-semibold rounded-xl">Basic</a>
  <a
    routerLink="/presupuesto"
    routerLinkActive="bg-green-300"
    [routerLinkActiveOptions]="{exact: true}"
    class="border cursor-pointer px-3 py-2 bg-indigo-500 text-white font-semibold uppercase rounded-xl">Presupuestos</a>
</div>
